<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RochasCriptoKey" value=""/>
    <add key="RochasCriptoVetor" value=""/>
    <add key="RopSqlCulture" value="PT"/>
    <add key="RopSqlBinPath" value="C:\\Windows\\System32\\"/>
    <add key="RopSqlCacheLimit" value="768"/>
    <add key="RopSqlAsyncDelay" value="700"/>
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="RopSqlConnStr" connectionString=""/>
    <add name="RopSqlReplicaConnStr" connectionString=""/>
  </connectionStrings>
</configuration>